.redz {
    width: 90px;
    height: 90px;
    font-size: 13px;
    vertical-align: middle;
    pointer-events: none;
}
.neredz {
    width: 90px;
    height: 90px;
    font-size: 0px;
    vertical-align: middle;

}
.tumss{
    font-size: 20px;
    font-weight: bold;
}
.done {
    width: 90px;
    height: 90px;
    font-size: 13px;
    vertical-align: middle;
    pointer-events: none;
}
#skaitlis{
    width: 35px;
    font-size: 16px;
}